name: seyeon CI CD
# 
on:
  push:
    branches: [ main ]

defaults:
  run:
    working-directory: /home/kosa/devops-runner/_work/kosa-devops-step2/kosa-devops-step2

env:
  DOCKER_USERNAME: ${{ vars.DOCKER_USERNAME }}
  DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}

jobs:
  build:
    runs-on: self-hosted
    
    steps:
      - uses: actions/checkout@v3
        with:
          clean: true

      - name: 현재 디렉토리 확인
        run: ls -al  && pwd  

      - name: gradlew 파일 실행 권한 설정 
        run: chmod +x gradlew
          
      - name: Test with gradle
        run: ./gradlew --info test
      
      - name: Spring boot  실행 파일 생성 '
        run: ./gradlew bootJar 
      
      - name: docker image 설정
        run: docker build -t ${{ env.DOCKER_USERNAME }}/devops_step2:v3.0 .

      - name: docker login
        uses: docker/login-action@v1
        with:
          username: ${{ env.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: docker image 허브에 저장
        run: docker push ${{ env.DOCKER_USERNAME }}/devops_step2:v3.0
      
  
  deploy:
    needs: build
    name: Deploy
    runs-on: self-hosted
    steps:      
      - name: 운영서버로 파일 복사 및 실행
        run: |
          ssh aws-master "mkdir kosa-devops-step2"
          scp ./docker-compose_nginx.yml aws-master:~/kosa-devops-step2
          scp ./nginx/nginx.conf aws-master:~/kosa-devops-step2/nginx/nginx.conf

          

    
