name: seyeon CI CD

on:
  push:
    branches: [ main ]

env:
  DOCKER_USERNAME: ${{ vars.DOCKER_USERNAME }}
  DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}

jobs:
  build:
    # runs-on: ubuntu-latest
    runs-on: self-hosted
    
    defaults:
      run:
        working-directory: kosa-devops-step2
    
    steps:
      - uses: actions/checkout@v3

      # # 빌드서버에 이미 있을땐 설치할 필요 없음. 
      # - name: Setup JDK17 
      #   uses: actions/setup-java@v3
      #   with:
      #     java-version: '17'
      #     distribution: 'temurin'
        
      - name: gradlew 파일 실행 권한 설정 
        run: chmod +x gradlew
          
      - name: Test with gradle
        run: ./gradlew --info test
      
      - name: Spring boot  실행 파일 생성 '
        run: ./gradlew bootJar 
      
      - name: docker image 설정
        run: docker build -t ${{ env.DOCKER_USERNAME }}/devops_step2:v3.0 .

      - name: docker login
        uses: docker/login-action@v1
        with:
          username: ${{ env.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: docker image 허브에 저장
        run: docker push ${{ env.DOCKER_USERNAME }}/devops_step2:v3.0

      - name: 파일 업로드 
        uses: actions/upload-artifact@v4
        with:
          name: my-artifact
          path: |
            docker-compose_nginx.yml      
            nginx/nginx.conf
      
  
  deploy:
    needs: build
    name: Deploy
    runs-on: self-hosted
    steps:
      # # copy yml file from src
      # - uses: actions/checkout@v3
      #   with:
      #     sparse-checkout: |
      #       docker-compose_nginx.yml
      #       nginx/nginx.conf
      #     sparse-checkout-cone-mode: false
      #     clean: true
      
      - name: 파일 다운로드
        uses: actions/download-artifact@v4
        with: 
          name: my-artifact
          # path: docker-compose_nginx.yml

      - name: docker login
        uses: docker/login-action@v1
        with:
          username: ${{ env.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

          
      - name: docker image pull
        run: docker pull ${{ env.DOCKER_USERNAME }}/devops_step2:v3.0

      - name: docker compose 실행
        run: docker compose -f docker-compose_nginx.yml up -d
        

    

